<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seu.wufan.alumnicircle">

    <!-- 使用相机 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 定位所需的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 推送相关的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- QQ登录所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_friends"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.login.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.RegisterActivity"
            android:label="@string/back"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.circle.CircleTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.circle.DynamicTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.MyInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.contacts.AddFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.contacts.NewFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.contacts.AlumniGoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.EditInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.MyQrcodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.MyDynamicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.MyMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.MyCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.SettingSwipeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.edit.ProfExperShowFragmentToActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.edit.CompanyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.edit.JobActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.edit.NameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.edit.PersonIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.circle.PublishDynamicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name=".ui.activity.me.edit.EducationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <!--leanchat-->

        <activity android:name="com.avoscloud.leanchatlib.activity.AVChatActivity"/>
        <activity android:name="com.avoscloud.leanchatlib.activity.ImageBrowserActivity" />
        <!-- 实时通信模块、推送（若使用该功能，需添加以下声明）START -->
        <service android:name="com.avos.avoscloud.PushService"/>
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->


        <!--umeng-->

        <!-- 发现的Activity -->
        <activity
            android:name="com.umeng.comm.ui.activities.FindActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.TopicDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.FeedsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 搜索结果Activity -->
        <activity
            android:name="com.umeng.comm.ui.activities.RelativeUserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.comm.ui.activities.SearchTopicActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.PostFeedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.ForwardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 搜索Activity -->
        <activity
            android:name="com.umeng.comm.ui.activities.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- feed详情页面 -->
        <activity
            android:name="com.umeng.comm.ui.activities.FeedDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 点赞用户页面 -->
        <activity android:name="com.umeng.comm.ui.activities.LikeUsersActivity" />

        <!-- 显示某个位置Feed的Activity -->
        <activity android:name="com.umeng.comm.ui.activities.LocationFeedActivity" />

        <activity android:name="com.umeng.comm.ui.activities.GuideActivity" />

        <activity android:name="com.umeng.comm.ui.activities.FollowedTopicActivity" />
        <activity android:name="com.umeng.comm.ui.activities.NotificationActivity" />
        <activity android:name="com.umeng.comm.ui.activities.NewMsgActivity" />
        <activity
            android:name="com.umeng.comm.ui.activities.TopicPickActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 微博版activity组件 end-->


        <!-- 图片选择相关 -->
        <activity android:name="com.umeng.common.ui.imagepicker.PhotoSelectorActivity" />
        <activity android:name="com.umeng.common.ui.imagepicker.PhotoPreviewActivity" />
        <activity android:name="com.umeng.common.ui.activities.MessageChatActivity" />
        <activity
            android:name="com.umeng.common.ui.activities.BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!-- 设置页面activity -->
        <activity android:name="com.umeng.common.ui.activities.SettingActivity" />

        <!-- 友盟登录界面 -->
        <activity android:name="com.umeng.community.login.LoginActivity" />


        <!-- ##################分享相关#################### -->
        <!-- 分享内容编辑页 -->
        <!--<activity-->
            <!--android:name="com.umeng.socialize.view.ShareActivity"-->
            <!--android:configChanges="orientation|keyboard"-->
            <!--android:launchMode="singleTask"-->
            <!--android:noHistory="true"-->
            <!--android:theme="@style/Theme.UMDialog"-->
            <!--android:windowSoftInputMode="stateVisible|adjustResize"></activity>-->

        <!-- 腾讯SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104606393" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.umeng.common.ui.activities.AlbumActivity" />

        <!---->
        <!--&lt;!&ndash; 微信回调activity &ndash;&gt;-->
        <!--<activity-->
            <!--android:name=".wxapi.WXEntryActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:exported="true"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<activity-->
            <!--android:name=".WBShareActivity"-->
            <!--android:configChanges="keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"-->
            <!--android:configChanges="keyboardHidden|orientation"-->
            <!--android:windowSoftInputMode="adjustResize"-->
            <!--android:exported="false" >-->
        <!--</activity>-->
        <!--<service android:name="com.sina.weibo.sdk.net.DownloadService"-->
            <!--android:exported="false">-->

        <!--</service>-->
        <!---->
        <!---->


        <!-- ##################### 推送相关 ##################### -->

        <!--线上discuss demo Appkey-->
        <meta-data android:name="UMENG_APPKEY"
            android:value="572f240d67e58ea2dd003069" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="5a760247d762c200cd71ca6d51e53757" >
        </meta-data>
        <!--&lt;!&ndash;线上weibo demo Appkey&ndash;&gt;-->
        <!--<meta-data android:name="UMENG_APPKEY"-->
        <!--android:value="54d19086fd98c540a2001155" >-->
        <!--</meta-data>-->
        <!--<meta-data-->
        <!--android:name="UMENG_MESSAGE_SECRET"-->
        <!--android:value="de08937649e99e3c81d7924b145b3f79" >-->
        <!--</meta-data>-->

        <!--高德地图app key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="557e18d1afb32a69351be5abc7f1cd25" />


    </application>

</manifest>
