<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seu.wufan.alumnicircle">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.RegisterActivity"
            android:label="@string/back"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.circle.CircleTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.circle.DynamicTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.MyInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.contacts.AddFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.contacts.NewFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.contacts.AlumniGoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.EditInformationActiviy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.MyQrcodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.MyDynamicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.MyMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.MyCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.edit.ProfExperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.edit.CompanyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.edit.JobActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.edit.NameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.me.edit.PersonIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.circle.PublishDynamicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
